html, body{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

.green {
	background-color: #008000;
}


.views {
	padding-top: 60px;
}


.menu {
	height: 30px;
	width: 100%;
	background-color: black;
	position: fixed;
	padding-top: 13px;
	font-family: Montserrat;
}



li a {
	color: white;
	text-decoration: none;
	padding-left: 20px;
}

/*How To Play View*/

.title, .title2 {
	font-size: 3.5em;
	margin-top: 15px;
	margin-bottom: 0px;
	padding-top: 15px;
	padding-bottom: 5px;
}

.how-to-play, .score {
	width: 70%;
	height: 100%;
	padding: 0px 30px 30px 30px;
	margin: 0 auto;
	margin-bottom: 30px;
	text-align: center;
	font-family: Montserrat;
	background-color: white;
	border-radius: 5px;
}

/*The Game View*/

.entireGame {
	margin-left: 20px;
	height: 700px;	
	font-family: Montserrat;
}


button {
	font-family: Montserrat;
	margin-top: 10px;
}


/*.showPile {
	margin-left: 5px;
}*/

.submitScore {
	margin-right: 50px;
	float: right;
}

.mainPiles {
	margin-top: 30px;
}


.sevenRows {
	margin-top: 10px;
	float: right;
	margin-right: 50px;
}

img, .card {
	width: 130px;
	height: 180px;
	border-radius: 8px;
	float: left;
	margin-right: 5px;
	/*border: 1px solid red;*/
}

.clear {
	clear: both;
}

/*card positions*/

.cardContainer {
	position: absolute;
	
}

.cardContainer img, .showPile img {
  border: 2px solid transparent;
}

.cardContainer img.active, .showPile img.active {
  border: 2px solid red;
}

.pile {
	position: relative;
	margin-left: 10px;
	width: 130px;
	height: 180px;
	float: left;
}


.placeholder {
	height: 178px;
	width: 128px;
	border: 1px solid #C0C0C0;
	border-radius: 6px;
  margin-left: 2px;
  margin-top: 2px;
}

.topFour .four .placeholder {
	border: 1px solid gray;
	height: 180px;
	width: 130px;
	margin-left: 3px;
	float: right;

}

.topFour .first .placeholder {
	margin-right: 50px;
	
}

/*scores*/

.scores {
	line-height: 35px;
	font-size: 25px;
}
